@font-face {
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  src: local('Cambria'), url(http://fonts.gstatic.com/l/font?kit=jau5LzzFU3RXGW-lddE6Gg&skey=d4699178559bc4b0) format('woff');
}
